/.obsidian
.obsidian/
*.pdf
*.PDF
.obsidian/app.json
.obsidian/appearance.json
.obsidian/community-plugins.json
.obsidian/core-plugins-migration.json
.obsidian/core-plugins.json
.obsidian/workspace.json
.obsidian/plugins/calendar/data.json
